.dark-mode {
        background-color: $dark !important;
        color: $lightdarktext;

    img {
        opacity: 0.7;
    }

    dialog {
        color: $lightdarktext;

        &[open] {
            background: $lessdark;
        }
    }

    .order-info, .cart-modal {
        &::backdrop {
            background-image: none;
            background-color: $dark;
        }
    }

    .cart-end-btn, .cart-increase-btn, .cart-decrease-btn, .cart-remove-btn {
        @include dark-btn;
    }

    .deal {
        color: $accent;
    }

    .header {
        background-color: $lessdark;
        z-index: 2;
    }

    .product-info, .cart-product-info {
        background-color: $lessdark;
    }

    footer {
        background-color: $lessdark;
    }

    .decrease-btn, .increase-btn {
        background-color: $darkbutton;
        color: $dark;
    }

    input {
        background-color: $lessdark;
    }

    .cart-amount {
        background-color: $dark;
        color: $accent;
    }

    .order-summary {
        background-color: $dark;

        .form__close-reset button {
            background-color: $darkbutton;
            color: $dark;
        }

        button {
            background-color: $darkbutton;
            color: $dark;
        }
    }

    .form {
        input {
            background-color: $lightdarktext;
            color: black;
            &::placeholder {
                color: black;
            }
        }
        input:-webkit-autofill,
        input:-webkit-autofill:focus {
            transition: background-color 600000s 0s, color 600000s 0s;
        }
    }
}